{{- if .Values.backend.deploy }}
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  namespace: {{ .Release.Namespace }}
spec:
  instances: 2
  storage:
    size: 10Gi
  enableSuperuserAccess: true
  bootstrap:
    initdb:
      database: lms
      owner: lms
      secret:
        name: lms-postgres
---
{{- end }}